


*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;
    color: #000;
  }


.hidden{
    display: none;
}


body{/*
  background-color: black;
 height: 100vh;
 background-image: url('img/wooden.jpg') ;
 background-size: cover;
 background-repeat: no-repeat;
 position: absolute;*/
 margin: 0;
 padding: 0;
 height: 100%;
}

.container{
  min-height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url(img/sky.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  
  
}

.levelcontainer{
  align-items: center;
  background:  rgb(255 255 255 / 50%);
  box-shadow: 0 0 15px rgb(0 0 0 /20%);
  border-radius:  25px;
 
}



#WeatherAndClock{
  padding: 10px 20px;
  position: relative;
  margin-top: 50px;
 
  
}

#loginForm{
  padding:20px 20px;

}



#todoForm{
  padding: 15px 20px;

}

#famous{
  padding : 15px 35px;
  margin-bottom: 50px;
}


